*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 99;
    width: 100%;
}
#full{
    height: 100%;
    width: 50%;
    background-color: rgb(153, 146, 146);
    position: absolute;
    right: -50%;
    transition: all ease 0.3s;
}